public/node-red/.flows.json.backup
[{"type":"tab","id":"80ac875e.2f9fa8","label":"Flow 1","_def":{"defaults":{"label":{"value":""}}}},{"id":"32469eaf.a58282","type":"mqtt-broker","z":"","broker":"m12.cloudmqtt.com","port":"10017","tls":null,"clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"72dd3207.630c7c","type":"mongodb","z":"","hostname":"dbh85.mlab.com","port":"27857","db":"heroku_w0wn28tg","name":"mLab Sandbox DB"},{"id":"a6b2aee7.4cd43","type":"mqtt-broker","z":"","broker":"test.mosquitto.org","port":"1883","tls":null,"clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"c8f082af.c51d2","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","tls":null,"clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"3f03076d.136c78","type":"http in","z":"80ac875e.2f9fa8","name":"GET /hello","url":"/hello","method":"get","swaggerDoc":"","x":130,"y":81,"wires":[["b35b9703.aed608"]]},{"id":"b35b9703.aed608","type":"function","z":"80ac875e.2f9fa8","name":"Generate Message","func":"msg.payload = \"Hello World\";\nreturn msg;","outputs":1,"noerr":0,"x":345.9999694824219,"y":81,"wires":[["cf240ec1.55b22"]]},{"id":"cf240ec1.55b22","type":"http response","z":"80ac875e.2f9fa8","name":"SEND /hello","x":568.9999847412109,"y":81,"wires":[]},{"id":"6b1c56e7.68c1e8","type":"mqtt in","z":"80ac875e.2f9fa8","name":"","topic":"hello/","qos":"2","broker":"32469eaf.a58282","x":119.96022033691406,"y":217.22726440429688,"wires":[["849c9ea.0f2ee6"]]},{"id":"849c9ea.0f2ee6","type":"debug","z":"80ac875e.2f9fa8","name":"","active":true,"console":"false","complete":"true","x":301.95452880859375,"y":217.37783813476562,"wires":[]},{"id":"ab80b9e1.c1b2e8","type":"inject","z":"80ac875e.2f9fa8","name":"","topic":"hello","payload":"my message","payloadType":"str","repeat":"","crontab":"","once":false,"x":161.95733642578125,"y":346.9715881347656,"wires":[["3a566da9.7ffe72"]]},{"id":"3a566da9.7ffe72","type":"mqtt out","z":"80ac875e.2f9fa8","name":"hello/","topic":"hello/","qos":"","retain":"","broker":"32469eaf.a58282","x":369.95729064941406,"y":347.09942626953125,"wires":[]},{"id":"a39a8581.0428e8","type":"comment","z":"80ac875e.2f9fa8","name":"Test API","info":"","x":132.9517059326172,"y":37.40056610107422,"wires":[]},{"id":"f9f7bbcf.f65408","type":"comment","z":"80ac875e.2f9fa8","name":"MQTT IN","info":"","x":128.95452880859375,"y":157.4033966064453,"wires":[]},{"id":"42544a23.f05df4","type":"comment","z":"80ac875e.2f9fa8","name":"MQTT OUT","info":"","x":137.96022033691406,"y":297.4090881347656,"wires":[]},{"id":"2f5d31f9.6ea70e","type":"mqtt in","z":"80ac875e.2f9fa8","name":"app/start","topic":"app/start","qos":"2","broker":"32469eaf.a58282","x":111.09944152832031,"y":469.727294921875,"wires":[["f4e980da.1444e"]]},{"id":"ace64b48.40b2f8","type":"mongodb in","z":"80ac875e.2f9fa8","mongodb":"72dd3207.630c7c","name":"Select Clients","collection":"clients","operation":"find","x":305.09942626953125,"y":536.727294921875,"wires":[["24176850.8b7de8"]]},{"id":"1adcc13f.13ec2f","type":"mongodb out","z":"80ac875e.2f9fa8","mongodb":"72dd3207.630c7c","name":"Register Client","collection":"clients","payonly":false,"upsert":false,"multi":false,"operation":"store","x":526.0994110107422,"y":471.727294921875,"wires":[]},{"id":"18065934.7314a7","type":"http in","z":"80ac875e.2f9fa8","name":"GET /clients","url":"/clients","method":"get","swaggerDoc":"","x":115.09942626953125,"y":535.727294921875,"wires":[["ace64b48.40b2f8"]]},{"id":"24176850.8b7de8","type":"http response","z":"80ac875e.2f9fa8","name":"SEND /clients","x":524.0994262695312,"y":535.727294921875,"wires":[]},{"id":"a8621b36.dcf008","type":"comment","z":"80ac875e.2f9fa8","name":"Client Management","info":"","x":137.0994415283203,"y":410.727294921875,"wires":[]},{"id":"f4e980da.1444e","type":"function","z":"80ac875e.2f9fa8","name":"Process Client","func":"var client = JSON.parse(msg.payload);\nvar msg = {};\n\nmsg._id = client['app/_id'];\n\nfor(var key in client) {\n    msg[key] = client[key];\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":292.0994415283203,"y":468.727294921875,"wires":[["1adcc13f.13ec2f"]]},{"id":"23587a30.9794e6","type":"http in","z":"80ac875e.2f9fa8","name":"GET /clients/:id","url":"/clients/:id","method":"get","swaggerDoc":"","x":122.09942626953125,"y":601.727294921875,"wires":[["556a1ffa.873f1"]]},{"id":"238785f3.fb573a","type":"http response","z":"80ac875e.2f9fa8","name":"SEND /clients/:id","x":949.0994415283203,"y":739.7272644042969,"wires":[]},{"id":"87a0b594.ab71d8","type":"mongodb in","z":"80ac875e.2f9fa8","mongodb":"72dd3207.630c7c","name":"Find By ID","collection":"clients","operation":"find","x":521.0994262695312,"y":598.727294921875,"wires":[["b063a7c8.05b398"]]},{"id":"556a1ffa.873f1","type":"function","z":"80ac875e.2f9fa8","name":"Process Request","func":"msg.payload = { _id: msg.req.params.id };\nreturn msg;","outputs":1,"noerr":0,"x":317.09942626953125,"y":600.727294921875,"wires":[["87a0b594.ab71d8"]]},{"id":"b063a7c8.05b398","type":"function","z":"80ac875e.2f9fa8","name":"Process Client","func":"msg.payload = msg.payload[0] || {};\nreturn msg;","outputs":1,"noerr":0,"x":716.0993957519531,"y":599.727294921875,"wires":[["238785f3.fb573a"]]}]