public/node-red/.flows.json.backup
[{"type":"tab","id":"80ac875e.2f9fa8","label":"Test","_def":{"defaults":{"label":{"value":""}}}},{"type":"tab","id":"bb4fed66.40e3b","label":"SASE-NodeRedApp","_def":{"defaults":{"label":{"value":""}}}},{"id":"32469eaf.a58282","type":"mqtt-broker","z":"","broker":"m12.cloudmqtt.com","port":"10017","tls":null,"clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"72dd3207.630c7c","type":"mongodb","z":"","hostname":"dbh85.mlab.com","port":"27857","db":"heroku_w0wn28tg","name":"mLab Sandbox DB"},{"id":"a6b2aee7.4cd43","type":"mqtt-broker","z":"","broker":"test.mosquitto.org","port":"1883","tls":null,"clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"c8f082af.c51d2","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","tls":null,"clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"3f03076d.136c78","type":"http in","z":"80ac875e.2f9fa8","name":"GET /hello","url":"/hello","method":"get","swaggerDoc":"","x":130,"y":81,"wires":[["b35b9703.aed608"]]},{"id":"b35b9703.aed608","type":"function","z":"80ac875e.2f9fa8","name":"Generate Message","func":"msg.payload = \"Hello World\";\nreturn msg;","outputs":1,"noerr":0,"x":310.9999542236328,"y":81,"wires":[["cf240ec1.55b22"]]},{"id":"cf240ec1.55b22","type":"http response","z":"80ac875e.2f9fa8","name":"SEND /hello","x":499.99998474121094,"y":81,"wires":[]},{"id":"6b1c56e7.68c1e8","type":"mqtt in","z":"80ac875e.2f9fa8","name":"","topic":"hello/","qos":"2","broker":"32469eaf.a58282","x":116.96022033691406,"y":190.22726440429688,"wires":[["849c9ea.0f2ee6"]]},{"id":"849c9ea.0f2ee6","type":"debug","z":"80ac875e.2f9fa8","name":"","active":true,"console":"false","complete":"true","x":252.95452880859375,"y":190.37783813476562,"wires":[]},{"id":"ab80b9e1.c1b2e8","type":"inject","z":"80ac875e.2f9fa8","name":"","topic":"hello","payload":"my message","payloadType":"str","repeat":"","crontab":"","once":false,"x":159.95733642578125,"y":313.9715881347656,"wires":[["3a566da9.7ffe72"]]},{"id":"3a566da9.7ffe72","type":"mqtt out","z":"80ac875e.2f9fa8","name":"hello/","topic":"hello/","qos":"","retain":"","broker":"32469eaf.a58282","x":342.95729064941406,"y":313.09942626953125,"wires":[]},{"id":"a39a8581.0428e8","type":"comment","z":"80ac875e.2f9fa8","name":"Test API","info":"","x":132.9517059326172,"y":37.40056610107422,"wires":[]},{"id":"f9f7bbcf.f65408","type":"comment","z":"80ac875e.2f9fa8","name":"MQTT IN","info":"","x":126.95452880859375,"y":142.4033966064453,"wires":[]},{"id":"42544a23.f05df4","type":"comment","z":"80ac875e.2f9fa8","name":"MQTT OUT","info":"","x":134.96022033691406,"y":260.4090881347656,"wires":[]},{"id":"238785f3.fb573a","type":"http response","z":"80ac875e.2f9fa8","name":"SEND /clients/:id","x":949.0994415283203,"y":739.7272644042969,"wires":[]},{"id":"a788820.89a6d8","type":"mqtt in","z":"bb4fed66.40e3b","name":"app/start","topic":"app/start","qos":"2","broker":"32469eaf.a58282","x":89.09944152832031,"y":102.09091186523438,"wires":[["5f63e9ce.b3c908"]]},{"id":"68d3c3b9.76575c","type":"mongodb in","z":"bb4fed66.40e3b","mongodb":"72dd3207.630c7c","name":"Select Clients","collection":"clients","operation":"find","x":283.09942626953125,"y":169.09091186523438,"wires":[["8c793e28.29a37"]]},{"id":"821a563e.e55fa8","type":"mongodb out","z":"bb4fed66.40e3b","mongodb":"72dd3207.630c7c","name":"Register Client","collection":"clients","payonly":false,"upsert":false,"multi":false,"operation":"store","x":504.0994110107422,"y":104.09091186523438,"wires":[]},{"id":"dd5f5e69.d6c98","type":"http in","z":"bb4fed66.40e3b","name":"GET /clients","url":"/clients","method":"get","swaggerDoc":"","x":93.09942626953125,"y":168.09091186523438,"wires":[["68d3c3b9.76575c"]]},{"id":"8c793e28.29a37","type":"http response","z":"bb4fed66.40e3b","name":"SEND /clients","x":502.09942626953125,"y":168.09091186523438,"wires":[]},{"id":"e986ad5a.e536b","type":"comment","z":"bb4fed66.40e3b","name":"Client Management","info":"","x":115.09944152832031,"y":43.090911865234375,"wires":[]},{"id":"5f63e9ce.b3c908","type":"function","z":"bb4fed66.40e3b","name":"Process Client","func":"var client = JSON.parse(msg.payload);\nvar msg = {};\n\nmsg._id = client['app/_id'];\n\nfor(var key in client) {\n    msg[key] = client[key];\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":270.0994415283203,"y":101.09091186523438,"wires":[["821a563e.e55fa8"]]},{"id":"106416c6.92aca9","type":"http in","z":"bb4fed66.40e3b","name":"GET /clients/:id","url":"/clients/:id","method":"get","swaggerDoc":"","x":100.09942626953125,"y":234.09091186523438,"wires":[["1db42497.b8497b"]]},{"id":"87aa040d.85d3f8","type":"mongodb in","z":"bb4fed66.40e3b","mongodb":"72dd3207.630c7c","name":"Find By ID","collection":"clients","operation":"find","x":499.09942626953125,"y":231.09091186523438,"wires":[["8e8b0992.bf2528"]]},{"id":"1db42497.b8497b","type":"function","z":"bb4fed66.40e3b","name":"Process Request","func":"msg.payload = { _id: msg.req.params.id };\nreturn msg;","outputs":1,"noerr":0,"x":295.09942626953125,"y":233.09091186523438,"wires":[["87aa040d.85d3f8"]]},{"id":"8e8b0992.bf2528","type":"function","z":"bb4fed66.40e3b","name":"Process Client","func":"msg.payload = msg.payload[0] || {};\nreturn msg;","outputs":1,"noerr":0,"x":694.0993957519531,"y":232.09091186523438,"wires":[[]]}]