public/node-red/flows.json
[{"type":"tab","id":"80ac875e.2f9fa8","label":"Test","_def":{"defaults":{"label":{"value":""}}}},{"type":"tab","id":"bb4fed66.40e3b","label":"SASE-NodeRedApp","_def":{"defaults":{"label":{"value":""}}}},{"id":"32469eaf.a58282","type":"mqtt-broker","z":"","broker":"m12.cloudmqtt.com","port":"10017","tls":null,"clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"72dd3207.630c7c","type":"mongodb","z":"","hostname":"dbh85.mlab.com","port":"27857","db":"heroku_w0wn28tg","name":"mLab Sandbox DB"},{"id":"a6b2aee7.4cd43","type":"mqtt-broker","z":"","broker":"test.mosquitto.org","port":"1883","tls":null,"clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"c8f082af.c51d2","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","tls":null,"clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"3f03076d.136c78","type":"http in","z":"80ac875e.2f9fa8","name":"GET /hello","url":"/hello","method":"get","swaggerDoc":"","x":130,"y":81,"wires":[["b35b9703.aed608"]]},{"id":"b35b9703.aed608","type":"function","z":"80ac875e.2f9fa8","name":"Generate Message","func":"msg.payload = \"Hello World\";\nreturn msg;","outputs":1,"noerr":0,"x":310.9999542236328,"y":81,"wires":[["cf240ec1.55b22"]]},{"id":"cf240ec1.55b22","type":"http response","z":"80ac875e.2f9fa8","name":"SEND /hello","x":499.99998474121094,"y":81,"wires":[]},{"id":"6b1c56e7.68c1e8","type":"mqtt in","z":"80ac875e.2f9fa8","name":"","topic":"hello/","qos":"2","broker":"32469eaf.a58282","x":116.96022033691406,"y":190.22726440429688,"wires":[["849c9ea.0f2ee6"]]},{"id":"849c9ea.0f2ee6","type":"debug","z":"80ac875e.2f9fa8","name":"","active":true,"console":"false","complete":"true","x":252.95452880859375,"y":190.37783813476562,"wires":[]},{"id":"ab80b9e1.c1b2e8","type":"inject","z":"80ac875e.2f9fa8","name":"","topic":"hello","payload":"my message","payloadType":"str","repeat":"","crontab":"","once":false,"x":159.95733642578125,"y":313.9715881347656,"wires":[["3a566da9.7ffe72"]]},{"id":"3a566da9.7ffe72","type":"mqtt out","z":"80ac875e.2f9fa8","name":"hello/","topic":"hello/","qos":"","retain":"","broker":"32469eaf.a58282","x":342.95729064941406,"y":313.09942626953125,"wires":[]},{"id":"a39a8581.0428e8","type":"comment","z":"80ac875e.2f9fa8","name":"Test API","info":"","x":132.9517059326172,"y":37.40056610107422,"wires":[]},{"id":"f9f7bbcf.f65408","type":"comment","z":"80ac875e.2f9fa8","name":"MQTT IN","info":"","x":126.95452880859375,"y":142.4033966064453,"wires":[]},{"id":"42544a23.f05df4","type":"comment","z":"80ac875e.2f9fa8","name":"MQTT OUT","info":"","x":134.96022033691406,"y":260.4090881347656,"wires":[]},{"id":"bed5c27b.0fb33","type":"mongodb in","z":"bb4fed66.40e3b","mongodb":"72dd3207.630c7c","name":"Select Clients","collection":"clients","operation":"find","x":303.09942626953125,"y":164,"wires":[["85649067.b81d8"]]},{"id":"e215f5ee.7f3f38","type":"mongodb out","z":"bb4fed66.40e3b","mongodb":"72dd3207.630c7c","name":"Register Client","collection":"clients","payonly":false,"upsert":false,"multi":false,"operation":"store","x":518.0994262695312,"y":70,"wires":[]},{"id":"87f1daaf.e73ee8","type":"http in","z":"bb4fed66.40e3b","name":"","url":"/clients","method":"get","swaggerDoc":"","x":103.09944152832031,"y":164,"wires":[["bed5c27b.0fb33"]]},{"id":"bfc053ab.7eedb","type":"comment","z":"bb4fed66.40e3b","name":"Client Management","info":"","x":115.09945678710938,"y":39,"wires":[]},{"id":"6e391690.12a5b8","type":"function","z":"bb4fed66.40e3b","name":"Process Client","func":"var client = {};\n\ntry {\n    client = JSON.parse(msg.payload);\n} catch (e) {\n    node.warn(\"Parsing JSON fail, trying object\");\n    client = msg.payload;\n}\n\nvar mongodb_resource = {};\n\nmongodb_resource._id = client['app/_id'];\n\nfor(var key in client) {\n    mongodb_resource[key] = client[key];\n}\n\nreturn [mongodb_resource, msg];","outputs":"2","noerr":0,"x":301.0994415283203,"y":98,"wires":[["e215f5ee.7f3f38"],["85649067.b81d8"]]},{"id":"53f15af4.f75f04","type":"http in","z":"bb4fed66.40e3b","name":"","url":"/clients/:id","method":"get","swaggerDoc":"","x":110.09944152832031,"y":230,"wires":[["77a24664.894dd8"]]},{"id":"92cf469f.5306f8","type":"mongodb in","z":"bb4fed66.40e3b","mongodb":"72dd3207.630c7c","name":"Find By ID","collection":"clients","operation":"find","x":499.0994415283203,"y":227,"wires":[["cac58606.fb3238"]]},{"id":"77a24664.894dd8","type":"function","z":"bb4fed66.40e3b","name":"Process Request","func":"msg.payload = { _id: msg.req.params.id };\nreturn msg;","outputs":1,"noerr":0,"x":310.09942626953125,"y":229,"wires":[["92cf469f.5306f8"]]},{"id":"cac58606.fb3238","type":"function","z":"bb4fed66.40e3b","name":"Process Client","func":"msg.payload = msg.payload[0] || {};\nreturn msg;","outputs":1,"noerr":0,"x":694.0994110107422,"y":228,"wires":[["85649067.b81d8"]]},{"id":"85649067.b81d8","type":"http response","z":"bb4fed66.40e3b","name":"","x":866.4630737304688,"y":163,"wires":[]},{"id":"73dfac64.a14614","type":"http in","z":"bb4fed66.40e3b","name":"","url":"/clients","method":"post","swaggerDoc":"","x":103.82987976074219,"y":98.92298889160156,"wires":[["6e391690.12a5b8"]]}]