public/node-red/flows.json
[{"type":"tab","id":"80ac875e.2f9fa8","label":"Flow 1","_def":{"defaults":{"label":{"value":""}}}},{"id":"32469eaf.a58282","type":"mqtt-broker","z":"80ac875e.2f9fa8","broker":"m12.cloudmqtt.com","port":"10017","tls":null,"clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"72dd3207.630c7c","type":"mongodb","z":"80ac875e.2f9fa8","hostname":"dbh85.mlab.com","port":"27857","db":"heroku_w0wn28tg","name":"mLab Sandbox DB"},{"id":"3f03076d.136c78","type":"http in","z":"80ac875e.2f9fa8","name":"GET /hello","url":"/hello","method":"get","swaggerDoc":"","x":130,"y":81,"wires":[["b35b9703.aed608"]]},{"id":"b35b9703.aed608","type":"function","z":"80ac875e.2f9fa8","name":"Generate Message","func":"msg.payload = \"Hello World\";\nreturn msg;","outputs":1,"noerr":0,"x":345.9999694824219,"y":81,"wires":[["cf240ec1.55b22"]]},{"id":"cf240ec1.55b22","type":"http response","z":"80ac875e.2f9fa8","name":"SEND /hello","x":568.9999847412109,"y":81,"wires":[]},{"id":"6b1c56e7.68c1e8","type":"mqtt in","z":"80ac875e.2f9fa8","name":"hello/world","topic":"hello/world","qos":"2","broker":"32469eaf.a58282","x":129.96022033691406,"y":217.22726440429688,"wires":[["849c9ea.0f2ee6","f3a9a2f.a6d226"]]},{"id":"849c9ea.0f2ee6","type":"debug","z":"80ac875e.2f9fa8","name":"","active":true,"console":"false","complete":"true","x":301.95452880859375,"y":217.37783813476562,"wires":[]},{"id":"ab80b9e1.c1b2e8","type":"inject","z":"80ac875e.2f9fa8","name":"hello/world","topic":"hello/world","payload":"my message","payloadType":"str","repeat":"","crontab":"","once":false,"x":151.95733642578125,"y":435.9715881347656,"wires":[["3a566da9.7ffe72"]]},{"id":"3a566da9.7ffe72","type":"mqtt out","z":"80ac875e.2f9fa8","name":"hello/world","topic":"hello/world","qos":"","retain":"","broker":"32469eaf.a58282","x":318.9573059082031,"y":436.09942626953125,"wires":[]},{"id":"f3a9a2f.a6d226","type":"mongodb out","z":"80ac875e.2f9fa8","mongodb":"72dd3207.630c7c","name":"save messages","collection":"messages","payonly":false,"upsert":false,"multi":false,"operation":"store","x":323.95733642578125,"y":307.1278381347656,"wires":[]},{"id":"a39a8581.0428e8","type":"comment","z":"80ac875e.2f9fa8","name":"Test API","info":"","x":132.9517059326172,"y":37.40056610107422,"wires":[]},{"id":"f9f7bbcf.f65408","type":"comment","z":"80ac875e.2f9fa8","name":"MQTT IN","info":"","x":128.95452880859375,"y":169.4033966064453,"wires":[]},{"id":"42544a23.f05df4","type":"comment","z":"80ac875e.2f9fa8","name":"MQTT OUT","info":"","x":138.96022033691406,"y":395.4090881347656,"wires":[]}]